@media (max-width: 768px) {
    #window {
        width: 100%;
        height: auto;
        padding-top: 20px;
    }
}
 
@media (min-width: 768.1px) {
    #window {
        width: 50%;
        height: auto;
        padding-top: 20px;
    }
}
 
.text-center {
    padding-top: 30px;
}
@media (max-width:768px){
    .small_devices{
        display: flex;
    };
}
@media (max-width:768px){
    .project{
        float: left;
    }
}